################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
/x64/
/SDL2.dll
.idea
CMakeLists.txt
cmake-build-debug